{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="controllers" >
    	{% include "xgds_core/playback_controller.html" %}
    </div>
    <div id="plot-container" class="plot-container" >
        <div id="plotDiv" class="plot-div" style="height:200px;">placeholder</div>
		<div id="plotLegend" class="row ml-2"></div>
	</div>
    <div id="timeseries_message" >
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "xgds_core/playbackJS.html" %}
    <script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.js" ></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.time.js" ></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}flot/jquery.flot.resize.js" ></script>
    <script type="text/javascript">
   		DEFAULT_PLOT_TIME_FORMAT = '%H:%M';
   		getTimeZone = function() {return '{{ settings.TIME_ZONE}}'};
   	</script>
    <script type="text/javascript" src="{% static 'xgds_timeseries/js/timeseriesUtils.js' %}"></script>

{% endblock %}

{% block jsInit %}

	$(function(){
        var options = { model_name: 'xgds_braille_app.Environmental',
                        flight_ids: [22]};
        xgds_timeseries.getData(options);
    });
{% endblock %}